
{% extends "index.html" %}

{% block menu %}
    {% include "encabezado.html" %}
{% endblock %}

{%block contenido %}

<form action="/agregarPelicula/" method="post" enctype="multipart/form-data" class="w-75 mx-auto mt-4 p-4 shadow-lg rounded bg-light">
    <h3 class="text-center mb-4 text-dark">Agregar Película</h3>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="txtCodigo" class="form-label fw-bold">Código</label>
            <input type="text" name="txtCodigo" id="txtCodigo" class="form-control" maxlength="10" required>
        </div>

        <div class="col-md-6 mb-3">
            <label for="txtTitulo" class="form-label fw-bold">Título</label>
            <input type="text" name="txtTitulo" id="txtTitulo" class="form-control" maxlength="50" required>
        </div>

        <div class="col-md-6 mb-3">
            <label for="txtProtagonista" class="form-label fw-bold">Protagonista</label>
            <input type="text" name="txtProtagonista" id="txtProtagonista" class="form-control" maxlength="50" required>
        </div>

        <div class="col-md-6 mb-3">
            <label for="txtDuracion" class="form-label fw-bold">Duración (minutos)</label>
            <input type="number" name="txtDuracion" id="txtDuracion" class="form-control" min="1" required>
        </div>

        <div class="col-12 mb-3">
            <label for="txtResumen" class="form-label fw-bold">Resumen</label>
            <textarea name="txtResumen" id="txtResumen" class="form-control" rows="4" maxlength="2000" required></textarea>
        </div>

        <div class="col-md-6 mb-3">
            <label for="txtFoto" class="form-label fw-bold">Foto</label>
            <input type="file" name="txtFoto" id="txtFoto" class="form-control">
        </div>

        <div class="col-md-6 mb-3">
            <label for="cbGenero" class="form-label fw-bold">Género</label>
            <select name="cbGenero" id="cbGenero" class="form-select" required>
                <option value="">Seleccione</option>
                {% for genero in generos %}
                    <option value="{{ genero.id }}">{{ genero.genNombre }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary px-4">Guardar Película</button>
    </div>
</form>



{% endblock %}

{% block piePagina %}
    {% include "piepagina.html" %}
{% endblock %}