
{% extends "index.html" %}

{% block menu %}
    {% include "encabezado.html" %}
{% endblock %}

{%block contenido %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="mb-4">AGREGAR GENERO</h2>
            <form action="/agregarGenero/" method="post" class="bg-light p-4 rounded">
                
                <div class="mb-3 text-start">
                    <label for="nombreGenero" class="form-label fw-bold">Nombre:</label>
                    <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Ingrese el género">
                </div>
                <button type="submit" class="btn btn-dark">Agregar</button>
            </form>
            
        </div>
    </div>
</div>
<br><br>



{% endblock %}

{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}