
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">MiAplicación</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menuNavbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link active" href="/">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="vistaAgregarGenero/">Géneros</a></li>
          <li class="nav-item"><a class="nav-link" href="vistaListarPelicula/">Películas</a></li>
        </ul>
      </div>
    </div>
  </nav>